$colores: (
    primary: #3498db,
    secondary: #2ecc71,
    danger: #e74c3c,
    warning: #f1c40f
);

@each $nombre, $valor in $colores {
    .bg-#{$nombre} {
        background-color: $valor;
    }
}