<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Blog de autores y libros {% endblock %}</title>
  <style>
    body{background-color: aqua;}
  </style>
</head>

<body>
    {%block menu%}
    <ul>
        <li><a href="/autor/">Autores</a></li>
        <li><a href="/libro/">Libros</a></li>
    </ul>
   
    {%endblock menu%}
    {%block content%}
   {%endblock content%}
</body>

</html>