{% extends 'core/index.html' %}

{% block title %} BLista autores {% endblock %}


{% block content %}
<table>
    <thead>
        <th>Titulo</th>
        <th>Codigo</th>
        <th>Autor</th>
    </thead>
    <tbody>
        {% for bo in books %}
        <tr>
            <td>{{ bo.title }} </td>
            <td>{{ bo.cod }}</td>
            <td>{% for au in bo.author.all %}
                {{au}}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

