$border-width: 10px; 

div {
  > .clase1, .clase2, .clase3 {
    $border-color: #fea;  
    border-width: $border-width;
    border-color: $border-color;
  }

  > .clase4, .clase5 {
    $border-color: #aef;  
    border-width: $border-width;
    border-color: $border-color;
  }
}


body {
  > .clase6, .clase7, .clase8 {
    $border-color: #efa;  
    border-width: $border-width;
    border-color: $border-color;
  }
}
