@charset "UTF-8";
/*
    • Las clases deben estar dentro de un div  y de un a
    • El codigo debe dotar de un color definido
     por una variable $colorin el contenido de la clase
    • Se debe usar el codigo & para cambiar el color por 
    el de las variables $colorinPseudoHover $colorinPseudoActive  en los estados hover y en  active 
    • Se debe usar el codigo  & para añadir el texto 
    "antes" y "despues" en las pseudo clases correspondientes. 
    • Se debe hacer exactamente lo mismo 
    que la anterior pero para una clase ejercicio5b 
    pero con los colores inveritidos usando 
    una funcion que invierta la variable. 

div a ejercicio5 {   color: #00ff00; }
div a ejercicio5:hover {   color: #ff0000; }
div a ejercicio5:active {   color: #ff0000; }
div a ejercicio5::before {   content: " Antes "; }
div a ejercicio5::after {    content: " Despues "; }
div a ejercicio5b {   color: fuchsia; }
div a ejercicio5b:hover {   color: aqua; }
div a ejercicio5b:active {   color: aqua; }
div a ejercicio5b::before {   content: " Antes "; }
div a ejercicio5b::after {   content: " Despues "; }
*/



$colorin: yellow;
$colorinPseudoHover: blue;
$colorinPseudoActive:red;

div,
a {
    color: $colorin;

    &:hover {
        color: $colorinPseudoHover;

        &::before {
            content: "antes ";
        }

        &::after {
            content: " despues";
        }
    }

    &:active {
        color: $colorinPseudoActive;

        &::before {
            content: "antes ";
        }

        &::after {
            content: " despues";
        }
    }
}