$rojo-claro: #ffcccc;
$rojo-medio: #ff6666;
$rojo: #ff0000;
$rojo-intenso: #cc0000;
$rojo-oscurito: #990000;
$rojo-vivo: #ff3333;
$rojo-oscuro: #660000;
$rojo-carmín: #b20000;
$rojo-amarillo: #ff6600;
$rojo-palo: #cc3333;
