$base-color: #3498db; 

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  
  .lighten {
    background-color: lighten($base-color, 20%); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .darken {
    background-color: darken($base-color, 20%); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .saturate {
    background-color: saturate($base-color, 30%); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .desaturate {
    background-color: desaturate($base-color, 30%); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .grayscale {
    background-color: grayscale($base-color);
    color: white;
    padding: 20px;
    text-align: center;
  }

  .complement {
    background-color: complement($base-color); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .invert {
    background-color: invert($base-color); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .rgba {
    background-color: rgba($base-color, 0.5); 
    color: white;
    padding: 20px;
    text-align: center;
  }

  .fade-in {
    // Usamos rgba para darle un valor de opacidad
    background-color: rgba($base-color, 0.5); // 50% de opacidad
    color: white;
    padding: 20px;
    text-align: center;
  }

  .fade-out {
    // De nuevo, ajustamos la opacidad con rgba
    background-color: rgba($base-color, 0.2); // 20% de opacidad
    color: white;
    padding: 20px;
    text-align: center;
  }
}
