$posicion_borde: left;

@mixin coche($marca, $color) {
    .coche.#{$marca} {
        border-#{$posicion_borde}: 2px;
        background-color: $color;
        background-image: url('#{$marca}-#{$color}.jpg')
    }
}

@include coche('audi', 'green');